body {
  background: #0e1111;
  color: whitesmoke;
  overflow: hidden;
}
.Link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.Link__text {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #0e1111;
  border: 2px solid whitesmoke;
  color: whitesmoke;
}

.ticket,
.form {
  height: 100vh;
  width: 100vw;
}
.ticket__content,
.admin__content {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: max-content;
}
.form__content {
  border: 2px solid whitesmoke;
  padding: 2rem;
  border-radius: 1rem;
  position: relative;
}
.checked__status {
  position: absolute;
  top: 10px;
  right: 10px;
}
.form h1 {
  margin-bottom: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight: 800;
}

.form__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.form__box label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
}
.form__box input {
  width: 400px;
  background-color: #0e1111;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  text-indent: 1rem;
  height: 35px;
  border-radius: 1rem;
  font-size: 1rem;
}
input:focus {
  border: 2px solid #4663ac;
}

.result-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.result-box button {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #0e1111;
  border: 2px solid whitesmoke;
  color: whitesmoke;
}
button:hover {
  /* background-color: #4663AC; */
  border: 2px solid #4663ac;
}
button:active {
  background-color: #4663ac;
  border: 2px solid #4663ac;
}

.result-box-admin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-icons {
  display: flex;
  align-items: center;
}
.check-icon {
  font-size: 2rem;
}
.check-icon__pending {
  color: rgb(255, 255, 0);
}
.check-icon__accepted {
  color: rgb(0, 255, 0);
}
.check-icon__rejected {
  color: rgb(255, 0, 0);
}
.check-icon__error {
  color: rgb(255, 0, 0);
}
.check-icon__sent {
  color: #4663ac;
}
.center {
  justify-content: center;
}
.green {
  color: rgb(0, 255, 0);
}
.red {
  color: rgb(255, 0, 0);
}

.dashboard__container {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.content__table {
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  align-self: center;
  border: 2px solid whitesmoke;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: whitesmoke;
  color: #0e1111;
}
td {
  background-color: transparent;
  color: whitesmoke;
}
/* tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  } */

td {
  border-bottom: 1px solid #ddd;
}
